= render :partial => "userpage_header"
.profile_container
  .col-xs-2
  .col-xs-8.profile_edit_form
    %h2 Edit Contact information for: #{@current_user.username}
    - if @errors.present?
      %ul
        - @errors.each do |msg|
          %li= msg    

    =form_for current_user do |f|
      .thumbnail
        %img{:src =>'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.thumb.png', :alt =>"profile photo"}
      .caption
        = f.label :username
        = f.text_field :username, required: true
        %br/
        = f.label :listener
        = f.label :listener, 'Yes', :value => true 
        = f.radio_button :listener, true 
        = f.label :listener, 'No', :value => false 
        = f.radio_button :listener, false
        %br/         
        = f.label :language 
        = f.text_field :language, required: true
        %br/  
        = f.label :agegroup 
        = f.text_field :agegroup 
        %br/
        = f.label :categories
        = f.text_field :categories
        %br 
        = f.label :religion 
        = f.text_field :religion
        %br/
        = f.label :license_type 
        = f.text_field :license_type
        %br/
        =f.label :description
        =f.text_area :description 
        %br/
        = f.label :specialty
        = f.text_field :specialty
        %br
        = f.submit 'Save'
    //Add autocomplete in the future 
          
    %h3 Cancel my account
    %p
      Unhappy? #{button_to "Cancel my account", destroy_user_session_path, data: { confirm: "Are you sure?" }, method: :delete}
    = link_to "Back", :back
  .col-xs-2
//.form-horizontal
//  %fieldset
//    .form-group
//      .col-lg-2 control-label Selects
//        .col-lg-10
//        %select.form-control{:multiple => "multiple"}
//          %option{:value => ""} -- Category --
//           %option{:value => "1"} Blah - Everyday matters
//           %option{:value => "2"} Life in general
//           %option{:value => "3"} Relationships
//           %option{:value => "4"} Family Issues
//           %option{:value => "5"} Emotional support
//           %option{:value => "6"} Disability
//           %option{:value => "7"} Eating Disorders
//           %option{:value => "8"} Business
//           %option{:value => "9"} LGBTQ
//           %option{:value => "10"} Substance Abuse
//           %option{:value => "11"} Panic Attacks
//           %option{:value => "12"} Depression
//           %option{:value => "13"} Self-Harm
//           %option{:value => "14"} Health and Wellness
//           %option{:value => "15"} Sex
//           %option{:value => "16"} Traumatic Experiences
//           %option{:value => "17"} Work Stress
//           %option{:value => "18"} Anxiety
//           %option{:value => "19"} Feeling Lost

