= render :partial => "userpage_header"
- if @user.listener == true
  %h2 #{@user.username}'s Profile Page
  .row.profile_picture
    .col-xs-6.col-md-3
      .thumbnail
        %img{:src =>'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.thumb.png', :alt =>"profile photo"}
          .caption
            %h4 #{@user.username}
            %p License: #{@user.license_type}
            %p Religion: #{@user.religion}
            %p Language: #{@user.language}
            %p Age Group: #{@user.agegroup}
            %p  
              %a.btn.btn-primary{:href => "chat_sessions", :role => "button"} Talk Now
    .col-xs-6.col-md-9
      .description_listener
        %h3 Introduction: 
        %p #{@user.description}
  - if @user.id == current_user.id 
    %a.btn.btn-primary.btn{:href => "#{current_user.id}/edit", :method => "get", :role => "button"} Edit my page 
- else 
  %h2 #{@user.username}'s Profile Page
  .row.profile_picture
    .col-xs-6.col-md-3
      .thumbnail
        %img{:src =>'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.thumb.png', :alt =>"profile photo"}
          .caption
            %h4 #{@user.username}
            %p Language: #{@user.language}
            %p Age Group: #{@user.agegroup}
    .col-xs-6.col-md-9
      .description_listener
        %h3 Looking for someone who can help me: 
        %p #{@user.description}
        %p  
        - if @user.id == current_user.id 
          %a.btn.btn-primary.btn{:href => "#{current_user.id}/edit", :method => "get", :role => "button"} Become a listener 
